/* You can add global styles to this file, and also import other style files */

html,
body {
  min-height: 100vh;
  background-color: #eef0ef;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.titulo {
  font-size: 4rem;
}

.cards-text {
  font-size: 1rem;

  @media (min-width: 768px) {
    font-size: 20px;
  }
}

.input-form {
  background-color: #d7e2f0;
  color: #75797b;
  border: none;
  border-radius: 30px;
  width: 100%;
  text-align: center;
  box-shadow: inset 1px 5px 14px 0px #c1cee4;
  min-height: 45px;
}

.btn-form {
  background-color: #e3e8ef;
  color: #75797b;
  border: none;
  border-radius: 30px;
  min-width: 200px;
  text-align: center;
  box-shadow: inset 1px 5px 14px 0px #c1cee4;
  min-height: 45px;
}

.btn-disabled {
  background-color: #75797b;
  color: #faf3f1;
  border: 0;
  height: 45px;
}

.btn-selected {
  background-color: #d7e2f0;
  color: #75797b;
  border: none;
  border-radius: 30px;
  min-width: 200px;
  text-align: center;
  box-shadow: 1px 4px 14px 0px #cad6e9;
  min-height: 45px;
  pointer-events: none;
}

.btn-icon {
  background-color: #e3e8ef;
  color: #75797b;
  border: none;
  border-radius: 100%;
  text-align: center;
  box-shadow: inset 1px 5px 14px 0px #c1cee4;
  height: 70px;
  width: 70px;
}
.img-logo {
  max-width: 20%;
  height: auto;
}
