<div class="container my-3">
  <div>
    <h3 class="fs-3 text-white">HABITACION {{ this.id }}</h3>
    <p class="mb-5">
      <small class="text-white">{{
        message(
          "Colegio Ciclo Basico / Division 5 A / Bahia Blanca / Promo 2022"
        )
      }}</small>
    </p>
  </div>
  <div class="row">
    <div class="mb-3 col-md-6">
      <label class="form-label text-white">Datos del pasajero #1</label>
      <input type="email" class="form-control" placeholder="Ingrese su nombre y apellido">
    </div>
    <div class="mb-3 col-md-6">
      <label class="form-label text-white">Instagram</label>
      <input type="email" class="form-control" placeholder="Cuenta de instagram">
    </div>
  </div>
  <div class="row">
    <div class="mb-3 col-md-6">
      <label class="form-label text-white">Datos del pasajero #1</label>
      <input type="email" class="form-control" placeholder="Ingrese su nombre y apellido">
    </div>
    <div class="mb-3 col-md-6">
      <label class="form-label text-white">Instagram</label>
      <input type="email" class="form-control" placeholder="Cuenta de instagram">
    </div>
  </div>
  <div class="row">
    <div class="mb-3 col-md-6">
      <label class="form-label text-white">Datos del pasajero #1</label>
      <input type="email" class="form-control" placeholder="Ingrese su nombre y apellido">
    </div>
    <div class="mb-3 col-md-6">
      <label class="form-label text-white">Instagram</label>
      <input type="email" class="form-control" placeholder="Cuenta de instagram">
    </div>
  </div>
  <div class="row">
    <div class="mb-3 col-md-6">
      <label class="form-label text-white">Datos del pasajero #1</label>
      <input type="email" class="form-control" placeholder="Ingrese su nombre y apellido">
    </div>
    <div class="mb-3 col-md-6">
      <label class="form-label text-white">Instagram</label>
      <input type="email" class="form-control" placeholder="Cuenta de instagram">
    </div>
  </div>
</div>
