<form [formGroup]="passengerForm">
  <div class="container my-3 text-center" formArrayName="passengers">
    <div>
      <h3 class="fs-3">{{room.name}}</h3>
      <p class="mb-5">
        <small class="">

        </small>
      </p>
    </div>
    <button class="btn-form button" (click)="addPassenger()" [disabled]="disableNewPassenger()"
      [classList]="disableNewPassenger() ? 'btn-selected' : 'btn-form'">
      AGREGAR NUEVO</button>
    <div class="row" *ngFor="let item of passengers.controls; let i = index">
      <div class="col-md-12" [formGroupName]="i">
        <div class="col-md-8 my-3">
          <input type="text" class="form-control form-rounded" placeholder="Nombre & Apellido - Pasajero"
            formControlName="fullName" />
          <input type="text" class="form-control my-2 form-rounded" placeholder="Cuenta de instagram"
            formControlName="instagram" />
        </div>
        <div class="col-md-2">
          <button class="btn-form" [disabled]="disableLoad(i)" (click)="onSubmit(i)">Cargar</button>
        </div>
      </div>
    </div>
  </div>
</form>
