.self {
  place-self: center;

  &.button {
    padding-left: 3rem;
    padding-right: 3rem;
    border-radius: 2rem;
  }
}

.form-rounded {
  border-radius: 2rem;
}

.btn-form {
  background-color: #d7e2f0;
  color: #75797b;
  border: none;
  border-radius: 30px;
  min-width: 200px;
  text-align: center;
  box-shadow: 1px 4px 14px 0px #cad6e9;
  min-height: 40px;
}
