.images {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.round-btn {
  border-radius: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.start-align {
  place-self: start;
}

.btn-fullRoom {
  background-color: #75797b;
  color: #faf3f1;
  border: 0;
  height: 45px;
}

.btn-form {
  background-color: #d7e2f0;
  color: #75797b;
  border: none;
  border-radius: 30px;
  min-width: 200px;
  text-align: center;
  box-shadow: 1px 4px 14px 0px #cad6e9;
  min-height: 60px;
}
