<div class="container my-5" *ngFor="let item of roomsAvailable; let i = index">
  <div class="col-md-8 d-flex ms-2">
    <div class="px-3">
      <img src="/assets/img/homecircle.png" class="images" alt="camas" />
    </div>
    <div class="d-flex justify-content-between">
      <div class="d-flex flex-column justify-content-between">
        <h2>{{ item.name }}</h2>
        <p class="cards-text">

          <ng-container *ngFor="let passenger of item.passengers; let passIndex = index">
            {{ passenger.fullName }} </ng-container>
        </p>
        <button [disabled]="item.passengers.length >= 4" (click)="setUserRoom(item)" [ngClass]="{
            'btn-fullRoom': item.passengers.length >= 4,
            'btn-form': item.passengers.length < 4
          }">
          {{ (item.passengers.length < 4 ? "Cargar" : "Hab. Completa" ) | uppercase}} </button>
      </div>
    </div>
  </div>
</div>
