<form class="row d-flex align-items-center flex-column mt-3" [formGroup]="form">
  <div class="col-md-6">
    <mat-form-field class="w-100">
      <mat-label>Ingresa tu código</mat-label>
      <input
        required
        matInput
        formControlName="code"
        type="text"
        placeholder="Ingresa tu código"
      />
    </mat-form-field>
  </div>
  <div class="col-md-6">
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="form.invalid"
      (click)="onAccept()"
    >
      Aceptar
    </button>
  </div>
</form>
